<h1><%= @user.name %>'s Profile</h1>
<%= image_tag @user.photo.url, class: "user-image" %>
<p>email: <%= @user.email %></p>
<%= link_to 'Your Feed', feeds_path %>
<%= link_to 'Create Post', new_feed_path %>
<%= link_to 'Edit Profile', edit_user_path(@user) %>
